<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Трейлеры фильмов</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 18px;
            margin: 20px;
        }
        a {
            font-size: 20px;
            text-decoration: none;
            color: #007bff;
        }
        a:hover {
            text-decoration: underline;
        }
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>Трейлеры фильмов</h1>
    <p><a href="https://www.youtube.com/watch?v=5GmXVEBcOpc&t=1s" target="_blank">Дэдпул и росомаха</a></p>
    <p><a href="https://www.youtube.com/watch?v=cBUh5s-jKhQ" target="_blank">Майор Гром: Игра</a></p>
    <p><a href="https://www.youtube.com/watch?v=qwz8SCu2cXA" target="_blank">Лед 3</a></p>
    <p><a href="https://www.youtube.com/watch?v=8FvyfNzcMlE" target="_blank">Артур, ты король</a></p>
    <p><a href="https://www.youtube.com/watch?v=z4Xzj6E-6R8" target="_blank">Мой любимый чемпион</a></p>
    <p><a href="https://www.youtube.com/watch?v=--CRVlVZF8s" target="_blank">Мармелад</a></p>
    <p><a href="https://www.youtube.com/watch?v=xbSLz5lR520" target="_blank">Головоломка 2</a></p>
</body>
</html>
