<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Популярные фильмы 2024 года</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        ul {
            font-size: 1.2em;
            padding: 0;
            list-style-type: none;
        }
        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <ul>
        <li>Популярные фильмы 2024 года</li>
        <li>↓↓↓↓</li>
        <li>Дэдпул и росомаха (рейтинг 7.7)</li>
        <li>Майор Гром: Игра (рейтинг 7.6)</li>
        <li>Лед 3 (рейтинг 8.2)</li>
        <li>Артур, ты король! (рейтинг 8.3)</li>
        <li>Мой любимый чемпион(рейтинг 7.1)</li>
        <li>Мармелад(рейтинг 7.2)</li>
        <li>Головоломка 2(рейтинг 7.9)</li>
        <li><a href="http://127.0.0.1:8000/trailer" target="_blank">Посмотреть трейлеры фильмов</a></li>
        <li><a href="http://127.0.0.1:8000/about" target="_blank">Информация про меня</a></li>
        <li><a href="http://127.0.0.1:8000/anime" target="_blank">Посмотреть топы по аниме</a></li>
    </ul>
</body>
</html>



