<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обо мне</title>
</head>
<body>
    <h1>Обо мне</h1>
    <h3>Здраствуй! Меня зовут Альтаир.Я создал этот сайт на тему(популярные фильмы 2024 года[также я добавил топы аниме потому что есть свободное время]).У меня получилось все это написать знаниями которые я получил обучаясь на программиста.Мне 15 лет.И то что я создал лишь проценты знаний,мне еще многому учится.И я уверен что любой у которого реально есть желание учить программирование могут создавать шедевры.</h3>
    <h1>Я хочу поделиться своими топ 2 фильмов которые мне понравились сюжетом</h1>
    <h1>1.Флэш</h1>
    <h2>Фильм про то как флэш научился попадать в прошлое.Этим навыком он захотел изменить свое будущее чтобы спасти свою маму от смерти,Он так и сделал.Но мир изменился в худшую сторону,Героев почти нет и злодей победили.Флэшу пришлось вернуть все как было</h2>
    <h1>2.Казахский фильм 'сенбе'</h1>
    <h2>Сюжет о том как семья потеряла все деньги с казино и у них забрали деньги,с помощью друзей он смог вернуть все свои деньги разными способами,вернул дом и все что у него было.Фильм комедия и она реально смешная.Героям там очень повезло.</h2>
    <h2>Какие аниме мне нравятся?</h2>
    <h2>Даже не знаю,я обычно не смотрю их,лишь знаю некоторые аниме боевики которые я смотрел</h2>
    <h2>Есть аниме которая называется Врата.Сюжет про врата которые открываются к другим векам.Например древние солдаты против современных.</h2>
</body>
</html>

